<div class="ui container">

     <div class="">
        <h1>Hello There</h1>
        <p class="">This is my awesome website</p>
        <p><a class="" href="#">Go!</a></p>
      </div>

<table class="ui celled striped table">
  <thead>
    <tr>
	    <th colspan="2">
	      My stuff
	    </th>
  	</tr>
  </thead>

  <tbody>
      <tr>
      <td>
        
				<a href="https://repl.it/languages/nodejs"><i class="unhide icon"></i>&nbsp; JS Scratchpad</a>
      </td>
      <td>Scratchpad is for writing javascript.</td>
      
    </tr>
    <tr>
      <td class="collapsing">
        
        <a href="http://codepen.io/magelrob/"><i class="codepen icon"></i>&nbsp; Codepen</a>
      </td>
      <td>Codepen is for writing HTML/CSS/JS examples</td>
      
    </tr>
    <tr>
      <td>
        
        <a href="https://github.com/magelrob"><i class="github  icon"></i>&nbsp; Github </a>
      </td>
      <td>GitHub is for version control</td>
      
    </tr>
    <tr>
      <td>
        
          <a href="https://myofilamentorg.slack.com/messages"><i class="slack icon"></i>&nbsp; Slack</a>        
      </td>
      <td>Slack is for instant messanging</td>
      
    </tr>
    <tr>
      <td>
        
          <a href="https://drive.google.com"><i class="google icon"></i>&nbsp; Google drive</a>         
      </td>
      <td>Google drive holds my documents (including homework)</td>
      
    </tr>
    <tr>
      <td>
        
          <a class="list-group-item" href="http://ghost.wellzesta.com/ghost"><i class="unhide icon"></i>&nbsp; Ghost</a> 
      </td>
      <td>Ghost is my blog</td>
      
    </tr>
  </tbody>
</table>


      <div class="">
        <div class="">
        <h2>HowTo's</h2>
          <ul>
            <li>
              <a href="http://fortawesome.github.io/Font-Awesome/examples/">How to use font awesome</a>
            </li>
            <li>
              <p>To launch chrome developer tools on chromebook: <code>shift</code> + <code>ctrl</code> + i</p>
            </li>
          </ul> 
        </div>
      </div>   

</div>


