<div class="ui container">

<h1>hello there</h1>

{{#ui-dropdown class="selection" onChange=(action 'update_selected')}}
  <div class="default text">Select an item</div>
  <i class="dropdown icon"></i>
  <div class="menu">
  {{#each itemActions as |ac|}}
    <div class="item" data-id="{{ac}}">
      {{ac}}
    </div>
  {{/each}}
  </div>
{{/ui-dropdown}}

</div>